.main {
    display: flex;
    gap: 2rem;
    width: max-content;
    padding: 1.5rem;
    background-color: var(--light);
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}