.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    background-color: var(--primary);
    align-items: center;
    min-height: calc(100vh - 55px);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 3rem;
}

.desc {
    color: var(--light);
    font-size: 12px;
    line-height: 1.7;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.hero_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.hero_img_container>img {
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 767px) {
    .container {
        grid-template-columns: auto;
    }

    .hero_img_container {
        grid-row: 1;
    }

    .main {
        padding: 1rem;
    }
}