.container {
    display: grid;
    gap: 0.2rem;
    align-items: center;
    border-radius: 7px;
    min-width: 700px;
}

.container>div {
    /* text-align: center; */
    padding: 10px 5px;
    color: var(--text-base);
    font-size: 12px;
    /* font-weight: 600; */
    text-transform: capitalize;
}

.fist_left>div:first-child {
    text-align: left;
    padding-left: 10px;
}


@media screen and (max-width: 950px) {
    .container>div {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .container>div {
        font-size: 10px;
    }
}