.card_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

@media screen and (max-width: 1480px) {
    .card_container {
        grid-template-columns: repeat(4, 1fr);
        ;
    }
}

@media screen and (max-width: 1180px) {
    .card_container {
        grid-template-columns: repeat(3, 1fr);
        ;
    }
}

@media screen and (max-width: 890px) {
    .card_container {
        grid-template-columns: repeat(2, 1fr);
        ;
    }
}

@media screen and (max-width: 600px) {
    .card_container {
        grid-template-columns: auto;
    }
}