.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dropZone {
    padding: 2rem;
    border: 2px dashed lightgray;
    cursor: pointer;
    transition: all 0.2s ease-in;
    border-radius: 10px;
    text-align: center;
}

.dropZone:hover {
    border: 2px dashed var(--primary);
}

.uploaded_file {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.file_delte_icon {
    color: gray !important;
    font-size: 15px !important;
}

.file_delte_icon:hover {
    color: rgb(88, 88, 88) !important;
}