.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: calc(100vh - 55px);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1.5rem;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}