.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: calc(100vh - 55px);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 50%;
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .main {
        width: 100%;
    }
}